annotated-types==0.7.0
asgiref==3.8.1
camel-converter==5.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.2.3
django-cors-headers==4.9.0
django-stubs==5.2.1
django-stubs-ext==5.2.1
djangorestframework==3.16.0
djangorestframework-stubs==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
gunicorn==23.0.0
idna==3.10
meilisearch==0.37.0
packaging==25.0
psycopg2-binary==2.9.10
pydantic==2.12.3
pydantic_core==2.41.4
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
